node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store
*.log

# Carpetas del proyecto que no deben incluirse en el build
imagenes/
backend/
web/
